[Unit]
Description=Serial Daemon for Console Access
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 -u /usr/local/bin/server.py --config /etc/seriald/config.json
Restart=on-failure
KillMode=control-group

[Install]
WantedBy=multi-user.target
