[Unit]
Description=Apply SONiC Console Server ConfigDB State
After=database.service config-setup.service seriald.service
Requires=database.service seriald.service
Wants=config-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/console-server-config-apply
RemainAfterExit=yes
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
